<?xml version="1.0"?>
<launch>
		<node pkg="rosservice" type="rosservice" name="rosservice" args="call --wait /video_recorder_0/video_controller 0" />

				<!-- Liga a webcam e publica as paradas -->
		<node pkg="usb_cam" name="usb_cam" type="usb_cam_node" >
				<param name="video_device" value="/dev/video0" />
				<param name="image_width" value="640" />
				<param name="image_height" value="480" />
				<param name="pixel_format" value="yuyv" />
				<param name="camera_frame_id" value="usb_cam" />
				<param name="io_method" value="mmap"/>
						<!--				<remap from="usb_cam/camera_info" to="usb_cam/camera_info_" /> -->
		</node>

		<node pkg="image_view" type="video_recorder" name="video_recorder_0" output="screen" >
				<remap from="image" to="/usb_cam/image_raw" />
				<param name="filename" type="string" value="/home/projeto/Workspace/Coding/DunaRobot/Footage/record.avi" />
		</node> 

		<node pkg="image_view" type="image_saver" name="image_saver_0" output="screen" >
				<remap from="image" to="/usb_cam/image_raw" />
				<param name="save_all_image" type="bool" value="false" />
				<param name="filename_format" type="string" value="/home/projeto/Workspace/Coding/DunaRobot/Footage/imgs%d.%s" />
		</node>



</launch>
